body{
    background-color: rgb(252, 167, 107);
}
#a{
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  background-color: chocolate;
}
#b{
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
td{
    font-size: 25px;
    padding-left: 50px;
    text-align: left;
    padding-top: 10px;
}
    .wht {
      font-family: sans-serif;
      background: #f8cfcf;
      border: 2px solid black;
      border-radius: 5px;
      padding: 20px;
      margin-left: 27%;
      margin-right: 27%;
    }

    .chat {
      max-width: 600px;
      margin: auto;
    }

    .msg {
      display: inline-block;
      padding: 10px 15px;
      margin: 10px;
      border-radius: 20px;
      font-size: 30px;
      max-width: 70%;
    }

    .sent {
      background-color: rgb(252, 140, 60);
      align-self: flex-end;
      margin-left: auto;
      text-align: left;
    }

    .received {
      background-color: rgb(255, 183, 132);
      border: 1px solid #ccc;
      align-self: flex-start;
      text-align: left;
    }

    .bubble {
      display: flex;
      flex-direction: column;
    }
.popi {
    font-size: 30px;
    font-family: "Yellowtail", cursive;
    font-weight:bolder
    }
.pop {
    font-size: 30px;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    }

    /* Overlay */
.popup {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: chocolate;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    /* Pop-Up Box */
.popup-content {
      background:rgb(250, 149, 77);
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      max-width: 300px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      position: relative;
      animation: fadeIn 0s ease;
    }

    /* Close Button */
.close-btn {
      position: absolute;
      top: 10px; right: 15px;
      font-size: 20px;
      padding-left: 5px;padding-right: 5px;
      color: #000000;
      border: 2px black solid;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s;
    }
.close-btn:hover{
  background-color: white;
  padding-left: 7px;padding-right: 7px;
  padding-top: 2px;padding-bottom: 2px;
  transition: 0.5s;
}

    /* Animation */
@keyframes fadeIn {
      from {opacity: 0; transform: scale(0.9);}
      to {opacity: 1; transform: scale(1);}
    }
audio{
    border: 5px solid chocolate;
    border-radius: 50px;
}