body{
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, rgb(255, 0, 255), rgb(145, 7, 145), rgb(251, 182, 163), rgb(255, 192, 255));
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
hr{
    height: 5px;
    background-color: black;
}
#a{
    background-color: rgb(248, 120, 214);
    color: rgb(0, 4, 67);
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
}
#b{
    background-color: rgb(165, 78, 247);
    padding: 6px;
    border-radius: 2px;
    border-color: black;
    border-style: double;
}
.c{
    display: inline;
    padding-left: 21%;
    padding-right: 21%;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(51, 17, 17);
    margin-left: 10px;
    margin-right: 10px;
}
.c:hover{
    background-color: beige;
}
.d{
    color: rgb(250, 230, 152);
}
.d:hover{
    color: rgb(34, 59, 150);
}
#e{
    font-size:20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    border-width: 3.5px;
}
#f{
    font-family: cursive;
    font-size: 30px;
    font-weight: bolder;
    padding: 0;
}
#g{
    border-color: rgb(77, 38, 10);
    border-style: solid;
    border-radius: 6px;
    border-width: 5px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    background-color: chocolate;
    margin-bottom: 10px;
}
.box{
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    margin-top: 5px;
    display: inline-block;
    width: 25%;
    
}
#logo{
    width: 90%;
    height: 210px;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 5px;
}
#name{
    width: 90%;
    height: 230px;
    border-radius: 7px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
}
#song{
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 5px;
}
#art{
    width: 90%;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 5px;
}
#out{
    font-size: 30px;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}

#outing{
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    font-size: 20px;
    background-color: rgb(10, 10, 94);
    color: white;
    width: 500px;
    height: 30px;
    text-align: center;
    transition: 0.5s;

}
#outing:hover{
    background-color: rgb(117, 117, 165);
    color: black;
    width: 550px;
    height: 35px;
    font-size: 21px;
    text-align: center;
    transition: 0.5s;
}
.bold{
    font-weight: bold;
}
.popi {
    font-size: 30px;
    font-family: "Yellowtail", cursive;
    font-weight:bolder
    }
.pop {
    font-size: 30px;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    }

    /* Overlay */
.popup {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgb(253, 37, 37);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    /* Pop-Up Box */
.popup-content {
      background: rgb(250, 140, 140);
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      max-width: 300px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      position: relative;
      animation: fadeIn 0s ease;
    }

    /* Close Button */
.close-btn {
      position: absolute;
      top: 10px; right: 15px;
      font-size: 20px;
      padding-left: 5px;padding-right: 5px;
      color: #000000;
      border: 2px black solid;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s;
    }
.close-btn:hover{
  background-color: white;
  padding-left: 7px;padding-right: 7px;
  padding-top: 2px;padding-bottom: 2px;
  transition: 0.5s;
}


    /* Animation */
@keyframes fadeIn {
      from {opacity: 0; transform: scale(0.9);}
      to {opacity: 1; transform: scale(1);}
    }
#bday{
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
#bd{
    background-color: chocolate;
    border: 3px solid black;
    padding: 5px;
    transition: 0.5s;
}
#bd:hover{
    background-color: rgb(248, 128, 128);
    color: black;
    border: 3px solid black;
    padding: 10px;
    transition: 0.5s
    ;
}

.story{
  font-family: "Rock Salt", cursive;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}
#story1{
    border: 2px black solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(53, 53, 53);
    height: 20px;
    width: 100px;
    transition: 0.8s;
}
#story1:hover{
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50%;
    font-family: "Rock Salt", cursive;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    transition: 0.8s;
    background-color: black;
    color: white;
    border: 3px white solid;
}