body{
    background-color: rgb(184, 184, 255);
}
#a{
    background-color: rgb(104, 102, 251);
    color: black;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}
table,td,tr,th{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    font-size: 30px;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
    font-family: cursive;
}
th{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}
td,th{
    width: 10%;
    padding-top: 5px;
}
#b{
    width: 500px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}